body{
	background-image:url(img/fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: middle center;
	background-attachment: fixed;
	left:0;
	top:0;
	text-align: center;
	
}
/*
div {
	background-image:url(img/fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	position:absolute;
	text-align: center;
	overflow: hidden;
}
*/
.titulo {
	position: relative;
 	font-size: 2em;
 	margin-top:250px;
 	color:white;
}

header {
	position: absolute;
	background-color: darkgrey;
	bottom: 0px;
	height: 50px;
	width: 900px;
	left:200px;
	color:white;
	padding-top:15px;

}

nav p {
	
	display:inline;
	padding-right:15px;


}

main {
	position: absolute;
	background-color:white;
	background-size: contain;
	color:black;
	margin-top: 125px;
	width: 900px;
	left:200px;
	text-align: center;
}

figure img {
	position: relative;
	margin:15px;
	height: 200px;
	width: 200px;
	padding-left:0px;
	display: inline-block;
}

#aeropuerto {
	height: 450px;
	width:700px;
}

form {
	background-color:grey;
	font-weight: 10px;
	text-align: left;

}

form h1 {
	text-align: center;
}

input[type="text"] {
	
	width: 800px;
}